.card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px; /* соответствует высоте навбара */
    box-sizing: border-box;
}

article {
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #181e29;
}

article h1 {
  text-align: center;
}

article form label {
  display: block;
}

article form button {
  width: 100%;
}

article form p {
    color: crimson;
    text-align: center;
}

.table-cell-truncate {
  max-width: 150px;      /* ограничение ширины */
  white-space: nowrap;   /* запрет на перенос строк */
  overflow: hidden;      /* скрытие лишнего */
  text-overflow: ellipsis; /* многоточие */
}