.mdx-wrapper {
  max-width: 800px;
  margin: 0 auto;        /* центрируем */
  padding: 40px 20px;
  font-size: 18px;
  line-height: 1.6;
}

.mdx-wrapper h1,
.mdx-wrapper h2,
.mdx-wrapper h3 {
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
}

.mdx-wrapper pre {
  background: #1e1e1e;
  color: #fff;
  padding: 16px;
  overflow-x: auto;
  border-radius: 6px;
  margin: 20px 0;
}

.mdx-wrapper img {
  max-width: 100%;
  margin: 20px 0;
  border-radius: 8px;
}

.prose pre code {
  white-space: pre-wrap;
  word-break: break-word;
}
