.notfound {
  text-align: center;
  padding: 50px;
  font-family: 'Poppins', sans-serif;
}

.notfound h1 {
  font-size: 4rem;
  color: #ff4f5a;
  margin-bottom: 20px;
}

.notfound p {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 40px;
}

